.container {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". create ."
        ". toggle ."
        ". todos .";
    
}

.create-new-todo {
    padding: 10px;
    grid-area: create;
    border: 1px solid black;
    margin-bottom: 10px;
    justify-self: center;
}

.toggle-all {
    padding: 10px;
    grid-area: toggle;
    justify-self: center;
}

.todos-list {
    padding: 10px;
    grid-area: todos;
    border: 1px solid black;
}